.App {
  width:50%;
  margin:20px auto;
}
.table {
  text-align: center;
  margin-top:20px;
  width:100%;
}
.table td {
  border-bottom: 1px solid #eee;
  padding:10px 0;
  text-align: center;
}
.table td:first-child{
  width:30%
}
.table td:nth-child(2) {
  width:20%
}
.table td:nth-child(3) {
  width:50%
}